{% extends "layouts/base-error.html" %}

{% block title %} Erreur 403 {% endblock %} 

{% block content %}

    <div class="container text-center">
        <div class="display-1 text-muted mb-5"><i class="si si-exclamation"></i> 403</div>
        <h1 class="h2 mb-3">Oups.. Vous venez de trouver une page d'erreur..</h1>
        <p class="h4 text-muted font-weight-normal mb-7">Nous sommes désolés mais vous n'avez pas la permission d'accéder à cette page&hellip;</p>
        <a class="btn btn-primary" href="/">
          <i class="fe fe-arrow-left mr-2"></i>Aller à la page d'accueil
        </a>
    </div>


{% endblock content %}
